<div class="container my-5">

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://image.freepik.com/foto-gratis/equipo-colegas-negocios-jugando-juegos-realidad-virtual_74855-1652.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://image.freepik.com/vector-gratis/fondo-isometrico-ordenador-portatil-degradado_52683-4501.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://image.freepik.com/foto-gratis/vista-posterior-mujer-negocios-hablando-juntos-reunion-linea_29393-448.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>