<div class="container my-5">

  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <img
          src="https://image.freepik.com/foto-gratis/vista-tiro-recortada-joven-estudiante-trabajando-su-tarea-su-sala-estar_67155-7551.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <img
          src="https://image.freepik.com/foto-gratis/vista-posterior-mujer-negocios-hablando-juntos-reunion-linea_29393-449.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="container my-5">

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://image.freepik.com/foto-gratis/programador-profesional-trabajando-tarde-oscura-oficina_1098-18705.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://image.freepik.com/foto-gratis/mujer-emocionada-probando-auriculares-vr-asistente_74855-4182.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img
          src="https://image.freepik.com/foto-gratis/primer-manos-femeninas-que-pulsan-computadora-portatil-estilo-interior-moderno-trabajar-linea-laptop_78826-3059.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>